*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

.wrapper{
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
}

.logo{
    cursor: pointer;
    margin-right: 20px;
}

a{
    color: black;
    text-decoration: none;
}

ul,li{
    display: flex;
    margin-top: 5px;
    margin-left: 50px;
    font-family: Roboto;
    color: var(--Gray-2, #4F4F4F);   
    font-size: 21px;
    font-style: normal;
    font-weight: 900;
   line-height: normal;
}

.btn{
    color: #FFF;
    height: 40px;
    width: 94px;
    background-color: red;
    border: none;
    border-radius: 4px;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 800;
    cursor: pointer;
}

.btn:hover{
    background-color: aliceblue;
    color: black;
}

.background-image {
    background-image: url('./img/steptodown.com610086.jpg');
    background-size: cover;
    background-position: center;
    height: 70vh;
    object-fit: cover;
    position: relative;
    margin-top: 5px;
}

.centered-text {
    text-align: center;
    position: absolute;
    top: 35%;
    left: 35%;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.bar{
    font-size: 20px;
    color: #FFF;
}

.class{
    font-size: 60px;
    color: #FFF;
}

.display-image{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.intro{
    padding-left: 75px;
    margin-top: 50px;
    font-family: Roboto;
    font-weight: 500;
    font-size: 25px;
}

.comprise{
    display: flex;
}
.size{
    object-fit: cover;
    width: 25vw;
}

.head{
    text-align: center;
}

.fin-para{
    text-align: center;
}

.money{
    text-align: center;
}

.diferent-car{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}

.img-css{
    object-fit: cover;
    width: 25vw;
    height: 200px;
   flex-shrink: 0;
}

.text-color{
     color: #C94842;
     font-family: Roboto;
     font-size: 25px;
     font-style: normal;
     font-weight: 700;
     line-height: 20px; /* 142.857% */
}

.para-two{
     color: var(--Gray-2, #4F4F4F);
     font-family: Roboto;
     font-size: 18px;
     font-style: normal;
     font-weight: 700;
     line-height: 20px;
}

.para-three{
      color: var(--Gray-2, #4F4F4F);
      font-family: Roboto;
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: 20px; 
}

.para-four{
     color: var(--Gray-2, #4F4F4F);
     font-family: Roboto;
     font-size: 16px;
     font-style: normal;
     font-weight: 700;
     line-height: 20px; 
}

.section-space{
    display: flex;
    margin-top: 8rem;
    justify-content: space-around;
}

.last-section{
    font-family: manrope;
    margin-top: 40px;
    background: #C94842;
    padding-top: 40px;
    padding-bottom: 30px;
    color: #fff;
}

.last-div{
    display: flex;
    justify-content: space-evenly;
}

.address{
    margin-top: 20px;
}

.number{
    margin-top: 20px;
}

.email{
    margin-top: 20px;
}

.size{
    border-radius: 25% 25% 25% 25% / 25% 25% 25% 25%;
}    
.educate{
    padding-top: 20px;
    font-style: 20px;
}

@media screen and (max-width:768px) {
    .nav-bar, ul, li {
         display: none;
     }
 
     .btn{
         display: none;
     }
 
     .menu{
         display: block;
     }

    
}

