*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

.wrapper{
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.wrapper img{
    cursor: pointer;
    margin-right: 20px;
    margin-bottom: 10px;
}

a{
    color: black;
    text-decoration: none;
}

ul,li{
    display: flex;
    margin-left: 50px;
    cursor: pointer;
    font-family: Roboto;
    color: var(--Gray-2, #4F4F4F);   
    font-size: 21px;
    font-style: normal;
    font-weight: 900;
   line-height: normal;
}

ul li:hover{
    background-color: rgba(255, 0, 0, 0.638);
    padding-left: 15px;
    padding-right: 15px;
    color: #FFF;
}

.menu{
    display: none;
}

.btn{
    color: #FFF;
    height: 40px;
    width: 94px;
    background-color: red;
    border: none;
    border-radius: 4px;
    margin-bottom: 10px;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 800;
    cursor: pointer;
}

.btn:hover{ 
    background-color: aliceblue;
    color: black;
}

.image{
    overflow: hidden;
    
}

.section {
  background-position: center;
  position: relative;
  width: 100%;
  height: 530px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./img/bgimg.png);
  background-size: cover;
}


.overall{
    display: flex;
    justify-content: space-evenly;
    height: 50vh;
    align-items: center;
}

.form{
    background: transparent;
    margin-top: 90px;
    width: 265px;
    height: 300px;
    border-radius: 10px;
   background: rgba(94, 84, 78, 0.41);
}

.hbd{
    color: #FFF;
    padding-top: 20px;
    padding-left: 20px;
}

#text{
    height: 30px;
    width: 200px;
    margin-left: 20px;
    margin-top: 15px;
    padding: 5px;
    border-radius: 5px;
    border: none;
}

.btn-2{
    margin-left: 130px;
    margin-top: 20px;
    border-radius: 6px;
    background: #C94842;
    width: 81px;
    color: #FFF;
    border: none;
    cursor: pointer;
    height: 27px;
    flex-shrink: 0;
}

.head{
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
}

.span{
    color: #FFF;
    padding-left: 90px;
    font-family: Roboto;
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
}

.overall-section{
    margin-top: 40px;
    justify-content: space-evenly;
    display: flex;
}

.para-two{
    margin-top: 20px;
}

.harry{
    display: flex;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
}

.com{
    color: #C94842;
}

.icon{
    margin-top: 30px;
    cursor: pointer;
}

.img-com{
    width: 370px;
    height: 320px;
    object-fit: cover;
}

.extaction-com{
    background-image: url(./img/Rectangle\ 5.png);
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./img/Rectangle\ 5.png);
    background-size: cover;
    background-position: center;
    margin-top: 30px;
    position: relative;
    height: 70vh; 
}

.centered-text {
    text-align: center;
    position: absolute;
    top: 40%;
    left: 30%;
    color: #fff;
    font-family: Roboto;
}  

.bar{
    font-size: 27px;
    font-weight: 700;
}

.para-under{
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    font-size: 18px;
    font-weight: 400;
    margin-top: 50px;
}

.inspiration{
    margin-top: 80px;
}

.boy-text{
  text-align: center;
  margin-bottom: 50px;
  font-family: Roboto;
  font-size: 21px;
  font-weight: 900;
}

.display{
    display: flex;
    justify-content: space-evenly;
}

.img-ten{
    object-fit: cover;
    width: 28vw;
    height: 50vh;
}

.btn-com{
    margin-top: 30px;
    margin-left: 40rem;
    margin-bottom: 30px;
    color: #FFF;
    height: 50px;
    width: 110px;
    background-color: red;
    border: none;
    border-radius: 4px;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 800;
    cursor: pointer;
}

.last-section{
    font-family: Roboto;
    margin-top: 40px;
    background: #C94842;
    padding-top: 40px;
    padding-bottom: 30px;
    color: #fff;
    width: 100%;
    overflow: hidden;
}

.last-div{
    display: flex;
    justify-content: space-evenly;
}

.address{
    margin-top: 20px;
}

.number{
    margin-top: 20px;
}

.email{
    margin-top: 20px;
}


    
.educate{
    padding-top: 20px;
    color: #FFF;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
}
   
@media screen and (max-width:768px) {
   .nav-bar, ul, li {
        display: none;
    }

    .btn{
        display: none;
    }

    .menu{
        display: block;
    }

    .overall{
        margin-top: 30px;
    }
    .head{
      font-size: 30px;
    }
    .span{
        font-size: 15px;
        padding-left: 50px;
    }

    .para-two{
        font-size: 12px;
    }

    .centered-text{
       padding-right: 80px;
        height: 50vh;
        /* display: flex; */
    }
}

@media screen and (max-width: 375px) {
    .head{
        font-size: 24px
    }
    .form{
        margin-right: 5rem;
    }
    .span{
        font-size: 3px;
        padding-left: 10px;
    }
}

@media  (max-width: 425px) {
    .wrapper{
        justify-content: space-between;
    }

  .overall{
         display: block;
          height: 50vh;
          align-items: center;
    }
    .form{
        margin-left: 5rem;
    }
    .span{
        font-size: 15px;
        padding-left: 5.5rem;
    }

    .para-two{
        font-size: 15px;
    }
}    
